/* 代码片断 */
pre, code, pre tt {
  font-family: Courier, 'Courier New', monospace;
}

pre {
  background: #f8f8f8;
  margin: 0;
}
h1 {
  margin-top: 2rem;
}
.gutter{
  display: none;
}
table{
  width: 100%;
}
blockquote {
 margin: 0;
  padding: 0 0 0 1rem;
}
.typo a {
  color:  #808fbd;
}