        <div id="copyright">
            <ul>
                <li>&copy;Powered By <a href="https://hexo.io/zh-cn/" style="border-bottom: none;">hexo</a></li>
                <li> 
                    Onwer <a href="http://miccall.tech " style="border-bottom: none;">Silin Dan</a>
                    <a href="https://github.com/SilinDan"><i class="icon fa fa-github"></i></a>
                    <a href="https://weibo.com/u/2631163541"><i class="icon fa fa-weibo"></i></a>
                </li>
            </ul>
            <% if(theme.busuanzi.enable === true ) { %>
                <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
			<% } else { %>
				<span id="busuanzi_container_site_pv"> <%- date(Date.now(), 'YYYY') %> </span> 
			<% } %>
        </div>